input,
button,
select {
  padding: var(--padding-xs);
  border-radius: var(--secondary-br);
  font-size: var(--font-size-sec);
  background-color: var(--color-2);
  color: var(--color-4);
  margin: var(--margin-xs);
  transition: all 0.5s;
  border: none;
}

button:hover {
  transform: scale(1.1);
}

.FieldForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
label {
  font-size: var(--font-size-sec);
}
