li {
  display: flex;
  flex-direction: column;
  gap:var(--gap-xs);
}

li > ul {
 display: flex;
 flex-direction: column;
 gap: var(--gap-xs);

}
.inputContainer{
  margin: var(--margin-m);
  padding: var(--padding-s);
  }